# Composer
/vendor/
/composer.lock

# Cache
/var/

# IDE / Editor
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# Environment
.env

# OS
.DS_Store
Thumbs.db
desktop.ini

# User uploads
/public/uploads/
